body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url(sky.jpeg);
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, .2);
}

.circle {
  width: 200px;
  height: 200px;
  background: url(woman.jpg);
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 60px 30px 30px 0;
}

p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 22px;
}

h1 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 30px;
}